:root {
    --feature:#FFEAA8;
}

p {
    text-align:center;
    max-width:none;
    margin:auto;
    line-height:1.4;
}

.aurebesh {
    font-family: "aurebesh";
}

.aurebeshucation-correct {
    color: #70A288;
}

.aurebeshucation-incorrect {
    color: #B48EAE;
}

.feature-colour {
    color: var(--feature);
}