/*these are some nice colours:
off-black	#101217
off-white 	#F8F7E5
green		#70A288
purp		#B48EAE
yellow		#FFEAA8
*/

:root {
	--offblack:#101217;
	--offwhite:#F8F7E5;
}

body {
	font-family:"Lucida Console", "Monaco", "Roboto Mono", monospace;
	color:var(--offwhite);
	background-color:var(--offblack);
	text-align:center;
	-moz-text-size-adjust:none;
	text-size-adjust:none;
}

p {
    text-align:justify;
	width:650px;
    margin:auto;
    line-height:1.4
}

h1 {
	color:var(--feature);
}

h3 {
	font-weight:400;
}

h4 {
	font-weight:400;
}

/* links */
a:link {
	color:var(--feature);
	text-decoration:none;
}

a:visited {
	color:var(--feature);
	text-decoration:none;
}

a:hover {
	color:var(--feature);
	text-decoration:underline;
}

a:active {
	color:var(--feature);
	text-decoration:underline;
}

/* images */
img {
	max-width:650px;
}

/* buttons */
button {
	background-color:var(--feature);
	border-radius:4px;
	border:none;
	font-family:"Lucida Console", Monaco, monospace;
	text-align:center;
}

/* input boxes */
input {
	background-color:var(--offblack);
	border:1px solid var(--feature);
	color:var(--offwhite);
	text-align:center;
}

/* tables */
table {
	border-spacing:0;
	margin:auto;
}

td {
	border:1px solid var(--feature);
	padding:1em;
	height:6em;
	width:6em;
}

td.blank {
	border:1px solid var(--offblack);
}

/* custom styling for activated bingo squares */
td.highlight {
	background-color:var(--feature);
	color:#101217;
}

/* accordions */
.accordion-button {
	font-size:16px;
	width:651px;
	padding:8px;
	border:1px solid var(--feature);
	border-radius:0;
}
.accordion-hide {
	display:none;
}

.accordion-show {
	width:650px;
	margin:auto;
	padding:8px 0;
	border:1px solid var(--feature);
	border-radius:0;
}

/* lightboxes and galleries */
.lightbox-thumb {
	max-height:150px;
	width:auto;
	height:auto;
}

.lightbox-background {
	z-index:10;
	background-color:#000000;
	opacity:0.75;
	height:100vh;
	width:100vw;
	position:fixed;
	top:0px; 
	left:0px;
	display:none;
}

.lightbox-img {
	z-index:11;
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	max-height:90vh;
	max-width:90vw;
	width:auto;
	height: auto;
}

.gallery-description {
	width: 350px;
}

/*grids*/
.grid {
    display:grid;
    width:650px;
    margin:20px auto;
    gap:10px;
}

.tooltip {
	position:absolute;
	width:100px;
	height:16px;
	display:none;
}

/*inputs*/
.input-short {
	width:3em;
}